.book-item {
  text-align: center;
  transition: all 0.2s ease-in-out;
  transform-origin: bottom;

  &:hover,
  &:focus {
    transform: scale(1.05);

    .book-item__cover {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    }
  }
}

.book-item__cover {
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 2 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
