.highlight {
  font-size: 1.75em;
  line-height: 1.3;
  margin: 2em auto;
  text-align: left;
  font-family: 'adobe-garamond-pro', Georgia, serif;
  max-width: 30em;
}

.highlight__meta {
  display: block;
  margin: 1em 0;
  text-transform: uppercase;
  color: #999;
  font-size: 0.675em;
}
