body {
  margin: 0;
  font-family: 'lft-etica', sans-serif;
}

h1 {
  font-size: 4em;
}

.main-container {
  max-width: 60em;
  margin: 0 auto;
}

.book-template {
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.book-cover__image {
  max-width: 200px;
  margin: 2em auto;
  border: 1px solid #ddd;
}
