.main-container {
  max-width: 60em;
  margin: 0 auto;
}

.book-template {
  text-align: center;
}

.book-highlights {
}

a {
  color: #333;
  text-decoration: none;
}

.book-cover__image {
  max-width: 200px;
  margin: 0 auto;
}
