.book-cover {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  margin-bottom: 3em;
  padding-bottom: 2em;

  @include breakpoint(tablet-sm) {
    float: left;
    width: 30%;
    position: sticky;
    top: 1em;
    border-bottom: 0;
  }
}

.book-cover__header {
  padding: 0 6%;
  margin-top: 2em;
}

.book-cover__title {
  margin: 0 0 .2em;

  span {
    display: block;
    text-transform: uppercase;
    font-size: .5em;
    margin-bottom: .5em;
    opacity: .6;
  }
}

.book-cover__meta {
  font-size: .9em;
  text-transform: uppercase;
  opacity: .6;

  span {
    font-style: italic;
    font-size: .75em;
    text-transform: none;
  }
}

.book-cover__image {
  margin: 1.5em auto;
  min-height: 12em;
  max-height: 14vh;

  @include breakpoint(tablet-sm) {
    max-height: 30vh;
  }
}
