.c-book-item {
  display: block;
  float: left;
  width: 49.5%;
  margin: 3em 0 0;
  max-width: 22em;
  perspective: 800px;
  transform-style: preserve-3d;

  @include breakpoint(tablet-sm) {
    width: 33.2%;
  }
  @include breakpoint(tablet-lg) {
    max-width: 16em;
    width: 24.95%;
  }
  @include breakpoint(desktop-sm) {
    width: 20%;
  }
  @include breakpoint(desktop-lg) {
    width: 16%;
  }
  @include breakpoint(120em) {
    width: 12.5%;
  }

  &:hover,
  &:focus {
    .c-book-item__title span {
      background-image: linear-gradient(currentColor, currentColor);
      background-position: center bottom 7%;
    }

    .c-book-item__image {
      transform: rotateY(20deg);
    }
  }

  @include supports(grid) {
    width: auto;
    max-width: none;
  }
}

.c-book-item__cover {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}

.c-book-item__image {
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 60%;
  transition: all .2s ease-out;
  -webkit-backface-visibility: hidden;
}

.c-book-item__title {
  padding: 1em 2.5rem 0 1rem;
  margin-top: 0;
  margin-bottom: .2em;
  border-top: .5em solid rgba(255, 255, 255, .1);
  font-weight: 300;
  color: #fff;
  font-size: 1.1em;
  transition: all 1.2s ease-in-out;

  span {
    @include underline;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
}

.c-book-item__meta {
  margin: 0;
  padding: 0 1rem;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  color: rgba(255, 255, 255, .35);

  span {
    font-style: italic;
    font-size: .8em;
    text-transform: none;
    margin-right: .1em;
  }
}
