html {
  color: #ddd;
  line-height: 1.4;
  font-size: .9em;

  @include breakpoint(tablet-sm) {
    font-size: 1em;
  }
}

body {
  background-color: #050814;
  transition: all .2s ease-in-out;
  font-family: $font-sans;
  max-width: 130em;
  margin: 0 auto;

  &:after {
    display: block;
    content: '';
    background: linear-gradient(rgba(5, 8, 20, 0), #050814);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 18vh;
    pointer-events: none;
  }
}

[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%;

  &:focus {
    right: auto;
  }
}

p {
  font-size: 1.25em;
  margin: 1.5em 0;
}

blockquote {
  margin: 0;

  em,
  cite,
  .meta {
    font-family: $font-sans;
    font-style: normal;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
