
.main-container {
  padding: 5% 6% 8em;
  margin: 0 auto;
  max-width: 80em;

  @include supports(animation) {
    opacity: 0;
    animation: .5s ease-in forwards fadeIn;
  }
}

.main-content {
  @include breakpoint(tablet-sm) {
    margin-left: 35%;
  }

  * + * {
    margin-top: 1.5em;
  }

  :target > p {
    display: inline;
    line-height: 1.55;
    padding: .15em;
    background-color: #fff;
    color: $gray1;
  }
}
