---
layout: default
active: book
---

<div class="book-layout">

  <aside class="book-cover">

    <header class="book-cover__header">
      <h1 class="book-cover__title">
        <span>Highlights from</span>
        {{ page.title }}{% if page.subtitle == "" or page.subtitle == nil %}{% else %}: {{ page.subtitle }}{% endif %}
      </h1>
      <div class="book-cover__meta">
        <span>by</span> {{ page.author }}
      </div>
    </header>

    {% include book-cover.html %}

  </aside>

  <article class="main-content">
    {{ content }}

    <div>Highlights and covers are copyright to their respective authors.</div>
  </article>

</div>
