---
layout: compress
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {% include head-sharing.html %}
  {% include head-favicons.html %}
  {% include head-css.html %}

  <script src="/assets/js/app{% if site.environment == 'production' %}.min{% endif %}.js" async></script>
</head>
<body>

  <a href="#main" class="visually-hidden">Skip to content</a>

  <div style="height: 0; width: 0; position: absolute; visibility: hidden">
    {% include icons/icons.svg %}
  </div>

  <header class="site-header">
    <a href="/" class="logo">highlights.holmberg.io</a>
  </header>

  {{ content }}

  {% if site.environment == "production" %}
    {% include analytics.html %}
  {% endif %}

</body>
</html>
