---
layout: compress
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {% include head-sharing.html %}
  {% include head-favicons.html %}

  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">

  <script>
    document.createElement( "picture" );
  </script>

  <script src="{{ site.url }}/assets/js/app{% if site.environment == 'production' %}.min{% endif %}.js" async></script>

  <!--[if lt IE 9]>
    <script src="/assets/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/assets/vendor/respond/dest/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <a href="#main" class="visually-hidden">Skip to content</a>

  <div style="height: 0; width: 0; position: absolute; visibility: hidden">
    {% include icons/icons.svg %}
  </div>

  <header class="site-header">
    <a href="/" class="logo">highlights.holmberg.io</a>
  </header>

  {{ content }}

  {% if site.environment == "production" %}
    {% include analytics.html %}
  {% endif %}

</body>
</html>
