<div class="sidebar">

  {% assign title = page.url | split: '/' %}
  {% assign titleNew = title | last %}
  {% if page.cover == "" or page.cover == nil %}
    {% assign cover = titleNew | replace: '-read-2', '' %}
  {% else %}
    {% assign cover = page.cover %}
  {% endif %}
  {% assign image_path = "/uploads/" | append: cover | append: ".jpg" %}
  <img
    class="book-cover__image"
    {% if site.environment == 'production' %}
      src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=240&amp;refresh=2592000.jpg"
      srcset="
      https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=240&amp;refresh=2592000 240w,
      https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ site.url }}{{ image_path }}&amp;container=focus&amp;resize_w=400&amp;refresh=2592000 400w"
    {% else %}
      src="{{ site.url }}{{ image_path }}"
    {% endif %}
    sizes="
    (min-width: 57em) 280px,
    (min-width: 34em) 160px, 140px"
    alt="{{ page.title }}"
  >

  <ul class="sidebar__meta">
    <li class="sidebar__meta-item">
      <strong>Date read:</strong> {{ page.date | date: "%-d %B, %Y" }}
    </li>
    {% if page.published %}
      <li class="sidebar__meta-item">
        <strong>Published:</strong> {{ page.published }}
      </li>
    {% endif %}
    <li class="sidebar__meta-item">
      <a href="{{ page.book-url }}" class="sidebar__meta-link">
        More information
      </a>
    </li>
  </ul>

</div>
