.book-cover {
  margin: 2em 2em 2em 0;
  max-width: 140px;

  @include breakpoint(mobile) {
    max-width: none;
    position: sticky;
    top: 2em;
    left: 0;
  }
}

.book-cover__image {
  border: 1px solid #ddd;
}
