.book-cover__title {
  margin: 4% 0 0.2em;
  font-size: 3.6em;
  line-height: 1;
}

.book-cover__meta {
  font-size: 1.125em;
}

.book-cover__image {
  max-width: 200px;
  margin: 4% 0;
  border: 1px solid #ddd;
}
